<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{HH:mm:ss} %-5level %logger{0} {%class %method} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/twitter-spark-kafka-gateway.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/${HOSTNAME}-twitter-spark-kafka-gateway-%d{yyyyMMdd}.%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>200MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%date{HH:mm:ss} %-5level %logger{0} {%class %method} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="net.qns.delphinus" level="${LOG_LEVEL:-info}" />
    <logger name="org" level="${LOG_LEVEL:-info}" />
    <logger name="com" level="${LOG_LEVEL:-info}" />
    <logger name="io" level="${LOG_LEVEL:-info}" />
    <logger name="org.spark_project" level="${LOG_LEVEL:-warn}" />
    <logger name="org.apache.spark" level="${LOG_LEVEL:-warn}" />
    <logger name="org.apache.spark.storage" level="${LOG_LEVEL:-error}" />

    <root level="${ROOT_LOG_LEVEL:-INFO}">
      <appender-ref ref="STDOUT" />
      <appender-ref ref="FILE" />
    </root>
</configuration>


